/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining process-specific options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process-specific ext.args, ext.prefix and publishDir settings
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'CADDSV_PREPBED' {
        publishDir = [
            path: { "${params.outdir}/prepbed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false  // Don't publish intermediate files by default
        ]
    }

    withName: 'CADDSV_ANNOTATE_MAIN' {
        ext.prefix = { "${meta.id}_main" }
        publishDir = [
            path: { "${params.outdir}/annotated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'CADDSV_ANNOTATE_UP' {
        ext.prefix = { "${meta.id}_100bpup" }
        publishDir = [
            path: { "${params.outdir}/annotated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false  // Don't publish flank annotations by default
        ]
    }

    withName: 'CADDSV_ANNOTATE_DOWN' {
        ext.prefix = { "${meta.id}_100bpdown" }
        publishDir = [
            path: { "${params.outdir}/annotated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false  // Don't publish flank annotations by default
        ]
    }

    withName: 'CADDSV_SCORE' {
        publishDir = [
            path: { "${params.outdir}/scored" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }
}