/*
 * Test config - downloads CADD-SV references
 */

params {
    input               = "${projectDir}/test/data/test_svs.bed"
    outdir              = "${projectDir}/test/results"
    download_references = true
    caddsv_cache_dir    = "${projectDir}/caddsv_references"
}

process {
    cpus   = 2
    memory = 8.GB
    time   = 4.h
}

conda.enabled = true
